<div class="panel panel-primary">
    <div class="panel-heading">
        Add a product
    </div>
    <div class="panel-body">
        <form #form="ngForm" novalidate>
            <div class="form-group" [class.has-error]="productName.invalid && productName.dirty">
                <label class="control-label" for="productName">Product Name</label>
                <input type="text" class="form-control" id="productName" name="productName" placeholder="Product Name" [(ngModel)]="product.productName" required #productName="ngModel"/>
                <div *ngIf="productName.invalid && productName.dirty" class="alert alert-danger">Product Name is required.</div>
            </div>
            <div class="form-group" [class.has-error]="productName.invalid && productName.dirty">
                <label for="productCode" class="control-label">Product Code</label>
                <input type="text" class="form-control" id="productCode" name="productCode" placeholder="Product Code" [(ngModel)]="product.productCode" required #productCode="ngModel"/>
                <div *ngIf="productCode.invalid && productCode.dirty" class="alert alert-danger">Product Code is required.</div>
            </div>
            <div class="form-group" [class.has-error]="productName.invalid && productName.dirty">
                <label for="price" class="control-label">Price</label>
                <input type="number" step="0.01" class="form-control" id="price" name="price" placeholder="Price" [(ngModel)]="product.price" required #price="ngModel"/>
                <div *ngIf="price.invalid && price.dirty" class="alert alert-danger">Price is required and must be a decimal number.</div>
            </div>
            <div class="form-group" [class.has-error]="productName.invalid && productName.dirty">
                <label for="description" class="control-label">Description</label>
                <textarea class="form-control" id="description" name="description" placeholder="Description" rows="3" [(ngModel)]="product.description" required #description="ngModel"></textarea>
                <div *ngIf="description.invalid && description.dirty" class="alert alert-danger">Description is required.</div>
            </div>
            <div class="form-group" [class.has-error]="productName.invalid && productName.dirty">
                <label for="imageUrl" class="control-label">Image URL</label>
                <input type="text" class="form-control" pattern="https?://.+"  id="imageUrl" name="imageUrl" placeholder="Image URL" [(ngModel)]="product.imageUrl" required #imageUrl="ngModel"/>
                <div *ngIf="imageUrl.invalid && imageUrl.dirty" class="alert alert-danger">Image URL is required and must be a valid URL.</div>

            </div>
            <button class="btn btn-primary" [disabled]="form.invalid" type="submit">Register product</button>
            <button class="btn btn-primary" [disabled]="form.pristine" type="button">Reset</button>

        </form>
    </div>
</div>
